/* Button Style */
.legal-btn{
    background-color: #B68C5A;
}
/* banner styles */
.banner-bg-image{
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 8px;  
}
.slider-image-size{
    height: 500px;
}
.frame-image{
    width: 30px;
    height: 30px;
}
/* Custom Colors */
.para-text-color{
    color: #707070;
}
.title-text-color{
    color: #414040;
}
.faq-color{
    background-color: #F3F3F3;
}
.accordion-color{
    background-color: #F3F3F3;
}
.footer-btn-bg {
    background-color: #B68C5A;
}
.footer-bg{
    background-color: #111111;
}
.footer-pera{
    color: #CFCFCF;
}
.logo-text-color {
    /* color: #414040;} */
    color: red;}